body {
    height: 100vh;
    background-color: gray;

}


.my-header{
    height: 10%;
    background-color: blue ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-family: 'Rancher', cursive;
    font-size: 24px;
    margin: 0 auto;
}

